[submodule "components/arduino"]
	path = components/arduino
	url = git@github.com:espressif/arduino-esp32.git
[submodule "components/DFRobotDFPlayerMini"]
	path = components/DFRobotDFPlayerMini
	url = git@github.com:niliha/DFRobotDFPlayerMini.git
